.discoverContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.discoverGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.discoverListingsContainer {
  margin-right: 5rem;
}

.discoverTitle {
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 0;
}

.discoverListing {
  text-align: left;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  border-radius: 1rem;
  padding: 2rem 4rem;
  border: 1px solid var(--seed-text-body);
  border-bottom-width: none;
  margin: 15px 0;
  cursor: pointer;
  &:last-child {
    border-bottom-width: 1px;
  }
}

.listingTitle {
  font-size: 3rem;
}

.listingHeuristic {
  color: var(--seed-color-secondary);
  margin-left: 10px;
  font-weight: 600;
}

.heuristicGrid {
  display: grid;
  margin: 1rem 0;
  grid-template-columns: 1fr 1fr 1fr;
}

.score {
  color: var(--seed-color-secondary);
  margin-left: 0.5rem;
}

.svg {
  height: 750px;
}
