.logo {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  position: relative;
  background-color: var(--seed-color-primary);
}

.logoCenter {
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  background-color: var(--seed-white);
  transform: translate(-50%, -50%);
  height: 20px;
  width: 20px;
}

.logoContainer {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  margin-right: auto;
}

.logoText {
  margin: 1rem;
}
